.Earth {background-color:  #0b1250  ; background:url("pictures/earth.jpg");background-position:"fixed";background-size: "Contain"}
.Blue {background-color:  #0b1250  ; background:url("pictures/blue.jpg");background-position:"fixed";background-size: "Contain"}
.Croc {background-color:  #0b1250  ; background:url("pictures/croc.jpg");background-position:"fixed";background-size: "Contain"}
.Mamba {background-color:  #0b1250  ; background:url("pictures/blackmamba.jpg");background-position:"fixed";background-size: "Contain"}
.Quito {background-color:  #0b1250  ; background:url("pictures/quito.jpg");background-position:"fixed";background-size: "Contain"}
.King {background-color:  #0b1250  ; background:url("pictures/king.jpg");background-position:"fixed";background-size: "Contain"}


